---
import { getCollection } from 'astro:content'
import Layout from '~/layouts/Base.astro'
import PostPager from '~/components/PostPager.astro'
import Footer from '~/components/Footer.astro'
import Giscus from '~/components/Giscus.astro'

export async function getStaticPaths() {
    const blogEntries = await getCollection('blog')
    return blogEntries.map(post => ({
        params: { slug: post.slug },
        props: { post },
    }))
}

const { post } = Astro.props
const { Content } = await post.render();
---

<Layout {...post.data}>
    <main class="mx-auto my-12 max-w-$c-content-width w-full">
        <h1>
            {post.data.title}
        </h1>
        <p>
            {post.data.date?.postText}
            ·
            {post.data.readTime}
            {post.data.lang === 'zh' ? '分钟' : 'min'}
        </p>
        <article class="prose post">
            <Content />
        </article>
    </main>

    <div>
        <hr>
        <PostPager />
        <Footer footerClass="max-w-$c-content-width mx-auto" />
        <Giscus />
    </div>
</Layout>
