@import './vars.css';
@import './prose.css';

/** Section: Init Origin */
html {
  --at-apply: bg-l-bg  overflow-scroll;
}
html.dark {
  --at-apply: bg-d-bg;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-scrollbar-bg);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-scrollbar-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}
/** EndSection */

/** Section: Plugin - NProgress */
#nprogress {
  --at-apply: pointer-events-none;
}

#nprogress .bar {
  --at-apply: bg-brand h-2px op-75 fixed top-0 left-0 w-full z-1001;
}
/** EndSection: */

/** Section: Plugin - Medium Zoom */
.medium-zoom-overlay {
  @apply: z-100 bg-c-bg! bg-op-80! dark:bg-op-80!;
  -webkit-backdrop-filter: saturate(50%) blur(4px);
  backdrop-filter: saturate(50%) blur(4px);
}
.medium-zoom-overlay ~ img {
  --at-apply: z-101;
}
/** EndSection: */
