/** Section: Init */

.prose {
  --at-apply: text-c-fg text-4 max-w-70ch leading-1.75em;
}

.prose> :first-child {
  --at-apply: mt-0;
}

.prose> :last-child {
  --at-apply: mb-0;
}

/** EndSection: */

/** Section: Origin element */
.prose p {
  --at-apply: my-space;
}

.prose b,
.prose strong {
  --at-apply: text-c-fgDeep font-600;
}

.prose em {
  --at-apply: c-inherit;
}

.prose s {
  --at-apply: c-inherit opacity-60 decoration-1 dark:decoration--1;
}

.prose mark {
  --at-apply: text-c-fgDeep bg-inherit font-600;
  --at-apply: decoration-underline decoration-wavy decoration-brand;
  text-underline-offset: 6px;
}

.prose sub,
.prose sup {
  --at-apply: text-xs relative v-baseline mx-0.1em;
}

.prose sup {
  --at-apply: top--0.5em;
}

/** EndSection: */

/** Section: Title */
.prose .text-linear {
  background: var(--c-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prose h1 {
  --at-apply: text-c-fgDeeper font-800 text-4xl mt-0 mb-8 leading-1.2em;
}

.prose h2 {
  --at-apply: text-c-fgDeep font-700 text-2xl mt-1.5em mb-1em leading-1.3em;
}

.prose h3 {
  --at-apply: text-c-fgDeep font-600 text-xl mt-1.6em mb-space leading-1.6em opacity-90;
}

.prose h4 {
  --at-apply: c-inherit font-600 my-space leading-1.5em;
}

.prose h6 {
  --at-apply: font-500 opacity-70;
}

.prose h2 code {
  font-size: text-sm;
}

.prose h3 code {
  font-size: text-0.9em;
}

/** EndSection: */

/** Section: Image */
.prose img,
.prose video,
.prose figure {
  --at-apply: my-space;
}

.prose img {
  --at-apply: border border-c-border rd-4px;
}

.prose img.error {
  transform: scale(1);
  --at-apply: min-h-8rem;
}

img.error::before {
  content: '';
  background: var(--c-bg-mask) var(--c-icon-img-borken) no-repeat center / 50% 50%;
  --at-apply: absolute top-0 left-0 w-full h-full text-transparent;
}

img.error::after {
  content: attr(alt);
  --at-apply: absolute bottom-0 left-0 w-full border-t border-c-border;
  --at-apply: text-xs text-center text-c-fg truncate leading-2em;
}

.prose figure>* {
  --at-apply: my-0;
}

.prose figure figcaption {
  --at-apply: text-#6b7280 text-sm mt-3 leading-1.4;
}

/** EndSection: */

/** Section: Link */

.prose a {
  --at-apply: text-c-fgDeeper font-500 pb-0.3 decoration-none;
  --at-apply: border-b transition-border-color-300;
  --at-apply: border-c-border hover:border-c-fg;
}

/** EndSection: */

/** Section: List */

.prose ol[type="A"] {
  --list-counter-style: upper-alpha;
}

.prose ol[type="a"] {
  --list-counter-style: lower-alpha;
}

.prose ol[type="A s"] {
  --list-counter-style: upper-alpha;
}

.prose ol[type="a s"] {
  --list-counter-style: lower-alpha;
}

.prose ol[type="I"] {
  --list-counter-style: upper-roman;
}

.prose ol[type="i"] {
  --list-counter-style: lower-roman;
}

.prose ol[type="I s"] {
  --list-counter-style: upper-roman;
}

.prose ol[type="i s"] {
  --list-counter-style: lower-roman;
}

.prose ol[type="1"] {
  --list-counter-style: decimal;
}

.prose ol>li::before {
  --at-apply: absolute left-0 text-#878c97 font-400;
  content: counter(list-item, var(--list-counter-style, decimal)) ".";
}

.prose ol>li,
.prose ul>li {
  --at-apply: relative pl-space;
}

.prose ul>li::before {
  --at-apply: bg-#d1d5db b-rd-50% w-0.375em h-0.375em;
  content: "";
  position: absolute;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}

.prose ol,
.prose ul {
  --at-apply: my-4 mx-0 list-none;
}

.prose li {
  --at-apply: my-0.2em;
}

.prose>ul>li p {
  --at-apply: my-0.75em;
}

.prose ul ul,
.prose ul ol,
.prose ol ul,
.prose ol ol {
  --at-apply: my-0.75em pl-0;
}

/** EndSection: */

/** Section: CheckBox */
.prose li.task-list-item {
  --at-apply: pl-0;
}

.prose li.task-list-item mark {
  --at-apply: px-1;
}

.prose li.task-list-item::before {
  --at-apply: hidden;
}

.prose input[type="checkbox"] {
  --at-apply: relative appearance-none w-4 h-4 mr-1.8;
}

.prose input[type="checkbox"]::before {
  content: '';
  --at-apply: absolute top-0 left-0;
}

.prose input[type="checkbox"]:not([checked])::before {
  --at-apply: i-uil:square-shape;
}

.prose input[type="checkbox"][checked="true"]::before {
  --at-apply: opacity-60 i-uil:check-square;
}

.prose li.task-list-item label {
  --at-apply: cursor-inherit;
}

.prose li.task-list-item input[type="checkbox"][checked="true"]+label {
  --at-apply: opacity-60 decoration-line-through decoration-1 dark:decoration--1 decoration-coolgray;
}

/** EndSection: */

/** Section: Divide */

.prose hr {
  --at-apply: my-4 mx-space border-c-border;
}

/** EndSection: */

/** Section: Blockquote */

.prose blockquote {
  --at-apply: text-c-fg text-inherit font-500 not-italic opacity-60;
  --at-apply: my-space mx-0 pl-3 border-l-3px border-c-border;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.prose blockquote> :first-child {
  --at-apply: mt-0;
}

.prose blockquote> :last-child {
  --at-apply: mb-0;
}

/** EndSection: */

/** Section: Table */

.prose table {
  --at-apply: table-auto border-separate border-spacing-0;
  --at-apply: w-full my-space text-left text-sm leading-1.75em;
}

.prose thead th {
  --at-apply: text-c-fg font-normal align-bottom py-2 px-3;
  --at-apply: border-c-border border-y;
}

.prose thead th:nth-child(1) {
  --at-apply: border-l rd-lt rd-lb min-w-30;
}

.prose thead th:last-child {
  --at-apply: border-r rd-rt rd-rb;
}

.prose tbody td {
  --at-apply: align-inherit py-3 px-3 border-b-1 border-c-border;
}


/** EndSection: */

/** Section: Code Group */
.prose .code-group {
  --at-apply: w-full overflow-hidden mt-space;
}

.prose .code-header {
  --at-apply: w-full flex justify-start items-center h-13 box-border px-4 rd-lt rd-rt;
  --at-apply: text-c-fg font-500 text-sm leading-1.3em bg-c-codeBG overflow-x-auto flex-nowrap;
  --at-apply: border-b-1 border-coolGray border-opacity-10;
}

.prose .code-header-item {
  --at-apply: px-2 py-1 rounded-6px box-border cursor-pointer transition-background-color-300 transition-opacity-200;
  --at-apply: opacity-60 hover:text-c-fgDeeper hover:opacity-100;
}

.prose .code-header-item.active {
  --at-apply: text-c-fgDeeper opacity-100 bg-c-innerCodeBG bg-opacity-12;
}

.prose .code-group div[class*=language-] {
  --at-apply: mt-0;
}

.prose .code-group pre {
  --at-apply: rd-lt-0 rd-rt-0;
}

/** EndSection: */

/** Section: Code */
.prose code,
.prose kbd,
.prose pre,
.prose samp {
  font-family: var(--c-code-family);
}

.shiki-light {
  @apply: !bg-l-codeBG;
}

.shiki-dark {
  @apply: !bg-d-codeBG;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

.prose pre:not(.shiki) {
  --at-apply: bg-transparent p-0 m-0;
}

.prose :not(pre)>code {
  --at-apply: bg-c-innerCodeBG border border-c-innerCodeBG;
  --at-apply: text-c-fgDeep break-words py-0.4 px-1.2 rd;
}

.prose code {
  --at-apply: text-sm text-c-fgDeep;
}

.prose pre {
  --at-apply: relative m-0 py-4 px-0 rd overflow-x-auto;
  --at-apply: text-#e5e7eb text-4 bg-transparent;
}

.prose pre code {
  --at-apply: p-0 rd-0 b-0;
  --at-apply: text-left word-spacing-normal break-normal;
  width: fit-content;
  white-space: pre;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

.prose .shiki-container code {
  --at-apply: block py-0 px-6 min-w-full text-sm text-c-fgDeep leading-1.5em;
}

/** Powered by: vitepress */
.prose div[class*=language-] {
  --at-apply: relative my-space mx-0 overflow-x-auto;
}

.prose [class*=language-]>span.lang {
  --at-apply: absolute top-2 right-3 z-2 text-xs font-500 text-inherit opacity-60;
}

.prose [class*=language-]>button.copy {
  --at-apply: absolute block top-2 right-2 z-3 w-10 h-10 rd;
  --at-apply: bg-c-codeBG opacity-0 cursor-pointer transition-opacity-400;
  background-image: var(--c-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.prose [class*='language-']>button.copy.copied::before,
.prose [class*='language-']>button.copy:hover.copied::before {
  content: 'Copied';
  --at-apply: relative block left--17 w-16 h-10 bg-c-innerCodeBG rd;
  --at-apply: text-center text-inherit pt-3 text-xs font-500 opacity-60;
}

.prose [class*=language-]:hover>button.copy+span.lang,
.prose [class*=language-]>button.copy:focus+span.lang {
  --at-apply: opacity-0;
}

.prose [class*=language-]:hover>button.copy,
.prose [class*=language-]>button.copy:focus {
  --at-apply: opacity-100;
}

.prose [class*='language-']>button.copy.copied,
.prose [class*='language-']>button.copy:hover.copied {
  --at-apply: rd;
  background-image: var(--c-icon-copied);
}

/** EndSection: */
