/** Section: Init */

.prose {
  --at-apply: max-w-content text-c-fg text-4 leading-1.9em;
}

.prose> :first-child {
  --at-apply: mt-0;
}

.prose> :last-child {
  --at-apply: mb-0;
}

/** EndSection: */

/** Section: Origin element */
.prose p {
  --at-apply: my-space;
}

.prose b,
.prose strong {
  --at-apply: text-c-fgDeep font-600;
}

.prose em {
  --at-apply: c-inherit;
}

.prose s {
  --at-apply: c-inherit op-60 decoration-1 dark:decoration--1;
}

.prose mark {
  --at-apply: text-c-fgDeep bg-inherit font-600;
  --at-apply: decoration-underline decoration-wavy decoration-brand;
  text-underline-offset: 6px;
}

.prose sub,
.prose sup {
  --at-apply: text-xs relative v-baseline mx-0.1em;
}

.prose sup {
  --at-apply: top--0.5em;
}

.prose kbd {
  --at-apply: text-sm py-0.4 px-1.2 mx-0.6 bg-gradient-to-br from-gray-200 to-slate-50;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, .4);
}

.dark .prose kbd {
  --at-apply: bg-gradient-to-br from-blue-gray-900 to-dark-600;
  box-shadow: -1px -1px 1px #505050, 1px 1px 6px #000;
}

/** EndSection: */

/** Section: Title */
.prose h1 {
  --at-apply: text-c-fgDeeper font-800 text-4xl mt-0 mb-4 leading-1.2em;
}

.prose h2 {
  --at-apply: text-c-fgDeep font-700 text-2xl mt-1.5em mb-1em leading-1.3em;
}

.prose h3 {
  --at-apply: text-c-fgDeep font-600 text-xl mt-1.6em mb-space leading-1.6em op-90;
}

.prose h4 {
  --at-apply: c-inherit font-600 my-space leading-1.5em;
}

.prose h6 {
  --at-apply: font-500 op-70;
}

.prose h2>code,
.prose h3>code,
.prose h4>code {
  font-size: 0.9em !important;
}

/** EndSection: */

/** Section: Image */
.prose img,
.prose video,
.prose figure {
  --at-apply: my-space;
}

.prose figure {
  --at-apply: relative w-fit;
}

.prose figure>* {
  --at-apply: my-0;
}

.prose figure figcaption {
  --at-apply: text-c-dim text-.8rem leading-4 mt-3;
}

.prose figure.error {
  --at-apply: border border-c-border rd;
}

.prose figure.error img {
  transform: scale(1);
  --at-apply: min-h-8rem;
}

.prose figure.error::before {
  content: '';
  background: var(--c-bg-mask) var(--c-icon-img-borken) no-repeat center / 50% 50%;
  --at-apply: absolute top-0 left-0 w-full h-full text-transparent z-1;
}

.prose figure.error::after {
  content: attr(alt);
  --at-apply: absolute bottom-0 left-0 w-full border-t border-c-border;
  --at-apply: text-xs text-center text-c-fg truncate leading-2em z-2;
}

/* NOTE: link-card */
.prose figure[link] a {
  --at-apply: border bg-gray bg-op-5 border-c-border rd overflow-hidden block hover:op-80 transition-all;
}

.prose figure[link] a img {
  --at-apply: m-0 aspect-ratio-video object-cover border-b border-c-border;
}

.prose figure[link] a figcaption {
  --at-apply: my-4 px-2;
}

.prose figure[link] a figcaption.title {
  --at-apply: text-c-fgDeeper text-4;
}

/** EndSection: */

/** Section: Link */

.prose a {
  --at-apply: text-c-fgDeeper font-500 decoration-none;
  --at-apply: border-b transition-border-color-300;
  --at-apply: border-c-border hover:border-c-fg focus:border-c-fg;
}

/** EndSection: */

/** Section: List */

.prose ol[type="A"] {
  --list-counter-style: upper-alpha;
}

.prose ol[type="a"] {
  --list-counter-style: lower-alpha;
}

.prose ol[type="A s"] {
  --list-counter-style: upper-alpha;
}

.prose ol[type="a s"] {
  --list-counter-style: lower-alpha;
}

.prose ol[type="I"] {
  --list-counter-style: upper-roman;
}

.prose ol[type="i"] {
  --list-counter-style: lower-roman;
}

.prose ol[type="I s"] {
  --list-counter-style: upper-roman;
}

.prose ol[type="i s"] {
  --list-counter-style: lower-roman;
}

.prose ol[type="1"] {
  --list-counter-style: decimal;
}

.prose ol>li::before {
  --at-apply: absolute left-0 text-c-dim op-80 font-400;
  content: counter(list-item, var(--list-counter-style, decimal)) ".";
}

.prose ol>li,
.prose ul>li {
  --at-apply: relative pl-space;
}

.prose ul>li::before {
  --at-apply: bg-c-dim op-80 b-rd-full w-0.375em h-0.375em;
  content: "";
  position: absolute;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}

.prose ol,
.prose ul {
  --at-apply: my-4 mx-0 list-none;
}

.prose li {
  --at-apply: my-0.2em;
}

.prose>ul>li p {
  --at-apply: my-0.75em;
}

.prose ul ul,
.prose ul ol,
.prose ol ul,
.prose ol ol {
  --at-apply: my-0em pl-0;
}

/** EndSection: */

/** Section: Step Flow */

.prose .step-flow.ul,
.prose .step-flow.ol {
  --at-apply: my-space;
}

.prose .step-flow .step-flow-title {
  --at-apply: text-1.1rem font-600 leading-1.6em op-90 text-c-fgDeeper;
}

.prose .step-flow .step-flow-item {
  --at-apply: relative flex gap-4;
}

.prose .step-flow.ul .step-flow-item::before {
  content: "";
  --at-apply: flex justify-center items-center z-2 text-c-dim op-80 w-4 h-1.7rem i-ph:circle-bold;
}

.prose .step-flow.ul .step-flow-item::after {
  content: "";
  --at-apply: absolute left-0 top-6 bottom--1 z-1 w-2px bg-c-border;
  transform: translateX(0.42rem);
}

.prose .step-flow.ol .step-flow-item::before {
  content: attr(data-step);
  --at-apply: flex justify-center items-center z-2;
  --at-apply: text-c-dim rd-full border op-80 border-c-dim;
  flex: 0 0 clamp(1.8rem, 5vw, 1.8rem);
  height: clamp(1.8rem, 5vw, 1.8rem);
}

.prose .step-flow.ol .step-flow-item::after {
  content: "";
  --at-apply: absolute left-0 top-9 bottom-1 z-1 w-2px bg-c-border;
  transform: translateX(0.86rem);
}

/** EndSection: */

/** Section: CheckBox */
.prose li.task-list-item {
  --at-apply: pl-0;
}

.prose li.task-list-item mark {
  --at-apply: px-1;
}

.prose li.task-list-item::before {
  --at-apply: hidden;
}

.prose input[type="checkbox"] {
  --at-apply: appearance-none relative w-4 h-4 mr-1.8 bg-transparent;
}

.prose input[type="checkbox"]::before {
  content: '';
  --at-apply: absolute top-0 left-0;
}

.prose input[type="checkbox"]:not([checked])::before {
  --at-apply: i-uil:square-shape;
}

.prose input[type="checkbox"][checked="true"]::before {
  --at-apply: op-60 i-ph:check-bold;
}

.prose li.task-list-item label {
  --at-apply: cursor-inherit;
}

.prose li.task-list-item input[type="checkbox"][checked="true"]+label {
  --at-apply: op-60 decoration-line-through decoration-1 dark:decoration--1 decoration-coolgray;
}

/** EndSection: */

/** Section: Divide */

.prose hr {
  --at-apply: my-8 mx-10em border-c-border;
}

/** EndSection: */

/** Section: Blockquote */

.prose blockquote {
  --at-apply: text-c-fg text-inherit font-500 not-italic op-60;
  --at-apply: my-space mx-0 pl-3 border-l-3px border-c-border;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.prose blockquote> :first-child {
  --at-apply: mt-0;
}

.prose blockquote> :last-child {
  --at-apply: mb-0;
}

/** EndSection: */

/** Section: Table */

.prose .table-wrap {
  --at-apply: my-space overflow-x-auto;
  -webkit-overflow-scrolling: touch;
}

.prose table {
  --at-apply: table-auto border-separate border-spacing-0;
  --at-apply: w-full text-left text-sm leading-1.75em;
}

.prose thead th {
  --at-apply: text-c-fg font-normal align-middle py-2 px-3;
  --at-apply: border-c-border border-y;
}

.prose thead th {
  --at-apply: min-w-32;
}

.prose thead th:nth-child(1) {
  --at-apply: border-l rd-lt rd-lb;
}

.prose thead th:last-child {
  --at-apply: border-r rd-rt rd-rb;
}

.prose tbody td {
  --at-apply: align-inherit py-3 px-3 border-b-1 border-c-border;
}


/** EndSection: */

/** Section: Container */
.prose .custom-block {
  --at-apply: text-sm my-space py-3 px-4 pb-1 border rd;
}

.prose .custom-block.details summary,
.prose .custom-block-title {
  font-weight: 600;
}

.prose .custom-block p {
  --at-apply: my-2;
}

.prose .custom-block p:first-child {
  --at-apply: my-0;
}

.prose .custom-block.details {
  --at-apply: border-c-border bg-slate bg-op-5;
  --at-apply: dark:bg-op-10;
}

.prose .custom-block.info {
  --at-apply: border-c-border;
}

.prose .custom-block.info .custom-block-title {
  --at-apply: text-c-fgDeeper;
}

.prose .custom-block.tip {
  --at-apply: border-green-5 bg-emerald-3 bg-op-5;
  --at-apply: dark:border-emerald-7 dark:bg-teal-3 dark:bg-op-10;
}

.prose .custom-block.tip .custom-block-title {
  --at-apply: text-emerald-6 dark:text-emerald-4;
}

.prose .custom-block.warning {
  --at-apply: text-amber-6 border-amber-5 bg-yellow-4 bg-op-5;
  --at-apply: dark:text-yellow-5 dark:border-yellow-6 dark:bg-yellow-3 dark:bg-op-10;
}

.prose .custom-block.warning strong,
.prose .custom-block.warning b,
.prose .custom-block.warning em,
.prose .custom-block.warning mark,
.prose .custom-block.warning a,
.prose .custom-block.warning code,
.prose .custom-block.warning .custom-block-title {
  --at-apply: text-amber-6 dark:text-yellow-4;
}

.prose .custom-block.danger {
  --at-apply: text-red-5 border-red-4 bg-red-6 bg-op-5;
  --at-apply: dark:text-red-4 dark:border-red-9 dark:bg-red-5 dark:bg-op-10;
}

.prose .custom-block.danger strong,
.prose .custom-block.danger b,
.prose .custom-block.danger em,
.prose .custom-block.danger mark,
.prose .custom-block.danger a,
.prose .custom-block.danger code,
.prose .custom-block.danger .custom-block-title {
  --at-apply: text-red-6 dark:text-red-4;
}

.prose .custom-block.details {
  --at-apply: cursor-pointer;
}

.prose .custom-block.details summary {
  --at-apply: pb-2;
}

/** EndSection: */

/** Section: Code Group */
.prose .code-group {
  --at-apply: w-full overflow-hidden mt-space;
}

.prose .code-header {
  --at-apply: w-full flex justify-start items-center h-13 box-border px-4 rd-lt rd-rt;
  --at-apply: text-c-fg font-500 text-sm leading-1.3em bg-c-codeBG overflow-x-auto flex-nowrap;
  --at-apply: border-b-1 border-coolGray border-op-10;
}

.prose .code-header-item {
  --at-apply: px-2 py-1 rd box-border cursor-pointer transition-colors-300 transition-op-200;
  --at-apply: op-60 hover:text-c-fgDeeper hover:op-100;
}

.prose .code-header-item.active {
  --at-apply: text-c-fgDeeper op-100 bg-c-innerCodeBG bg-op-12;
}

.prose .code-group div[class*=language-] {
  --at-apply: mt-0;
}

.prose .code-group pre {
  --at-apply: rd-lt-0 rd-rt-0;
}

/** EndSection: */

/** Section: Code */
.prose code,
.prose kbd,
.prose pre,
.prose samp {
  --at-apply: font-mono;
}

.shiki-light {
  @apply: !bg-l-codeBG;
}

.shiki-dark {
  @apply: !bg-d-codeBG;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

.prose pre:not(.shiki) {
  --at-apply: bg-transparent p-0 m-0;
}

.prose :not(pre)>code {
  --at-apply: bg-c-innerCodeBG border border-c-innerCodeBG;
  --at-apply: text-c-fgDeep text-sm break-words whitespace-nowrap py-0.4 px-1.2 rd-sm;
}

.prose pre {
  --at-apply: relative m-0 py-4 px-0 rd overflow-x-auto;
  --at-apply: text-#e5e7eb text-4 bg-transparent;
}

.prose pre code {
  --at-apply: p-0 rd-0 b-0;
  --at-apply: text-left word-spacing-normal break-normal;
  width: fit-content;
  white-space: pre;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

.prose .shiki code {
  --at-apply: block py-0 px-6 min-w-full text-sm text-c-fgDeep leading-1.5em;
}

.prose [class*=language-] code .diff,
.prose [class*=language-] code .highlighted {
  width: calc(100% + 48px);
  --at-apply: inline-block bg-l-innerCodeBG dark:bg-dark-700 mx--24px px-24px;
}

.prose [class*=language-] code .highlighted.error,
.prose [class*=language-] code .diff.remove {
  --at-apply: op-90 bg-red-6 bg-op-20 dark:bg-red-5 dark:bg-op-20;
}

.prose [class*=language-] code .diff.add {
  --at-apply: bg-emerald-3 bg-op-40 dark:bg-emerald-6 dark:bg-op-30;
}

.prose [class*=language-] code .highlighted.error{
  --at-apply: op-100;
}

.prose [class*=language-] code .highlighted.warning{
  --at-apply: bg-yellow-4 bg-op-30 dark:bg-yellow-3 dark:bg-op-20;
}

.prose [class*=language-]:hover .has-focused-lines .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}

.prose [class*=language-] .has-focused-lines .line:not(.has-focus) {
  opacity: .7;
  transition: filter .35s,opacity .35s;
}

.prose [class*=language-] .has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: .4;
  transition: filter .35s,opacity .35s;
}

/** Powered by: vitepress */
.prose div[class*=language-] {
  --at-apply: relative my-space mx-0 overflow-x-auto;
}

.prose [class*=language-]>span.lang {
  --at-apply: absolute top-2 right-3 z-2 text-xs font-500 text-inherit op-60 transition-400;
}

.prose [class*=language-]>button.copy {
  --at-apply: absolute block top-2 right-2 z-3 w-10 h-10 rd;
  --at-apply: bg-c-codeBG bg-op-12 op-0 cursor-pointer transition-400;
  background-image: var(--c-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.prose [class*=language-]>button.copied,
.prose [class*=language-]>button.copy:hover {
  --at-apply: bg-c-innerCodeBG;
}

.prose [class*='language-']>button.copy.copied::before,
.prose [class*='language-']>button.copy:hover.copied::before {
  content: 'Copied';
  --at-apply: relative block left--17 w-16 h-10 bg-c-innerCodeBG rd;
  --at-apply: text-center text-inherit pt-3 text-xs font-500 op-60;
}

.prose [class*=language-]:hover>button.copy+span.lang,
.prose [class*=language-]>button.copy:focus+span.lang {
  --at-apply: op-0;
}

.prose [class*=language-]:hover>button.copy,
.prose [class*=language-]>button.copy:focus {
  --at-apply: op-100;
}

.prose [class*='language-']>button.copy.copied,
.prose [class*='language-']>button.copy:hover.copied {
  --at-apply: rd;
  background-image: var(--c-icon-copied);
}

/** EndSection: */

/** Section: MD-Plugin: TOC */
@media (max-width: 1250px) {
  .table-of-contents {
    --at-apply: hidden;
  }
}

.table-of-contents {
  --at-apply: w-239px text-sm leading-1.6em fixed top-120px bottom-0 overflow-hidden op-0 transition-all-400;
  right: calc((100% - 70ch) / 2 - 400px);
}

.table-of-contents:hover {
  --at-apply: op-100;
}

.table-of-contents a {
  --at-apply: block border-none transition-colors-200 text-0.8rem truncate;
  --at-apply: text-gray-700 text-op-60 dark:text-gray-200 dark:text-op-60;
  --at-apply: hover:text-c-fgDeeper focus:text-c-fgDeeper;
}

.table-of-contents ul>li::before {
  --at-apply: hidden;
}

.table-of-contents ul>li {
  --at-apply: pl-3;
}

.table-of-contents ul ul {
  --at-apply: my-0;
}

.table-of-contents ul:first-child {
  --at-apply: border-l border-c-border;
}

/** EndSection: */

/** Section: MD-Plugin: header-anchor */
.prose:not(.post) a.header-anchor {
  --at-apply: hidden;
}

.prose a.header-anchor {
  --at-apply: float-left mt-0.1 ml--1.2em pr-0.5em font-600 decoration-none op-0 transition-opacity;
  @apply: !border-none;
}

a.header-anchor:hover,
a.header-anchor:focus {
  --at-apply: decoration-none;
}

h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  --at-apply: op-50;
}

/** EndSection: */
