/** Section: Init */

.prose {
  color: var(--c-fg);
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
}
html:not(.dark) .prose {
  color: var(--c-fg);
}
.prose [class~="lead"] {
  color: #4b5563;
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.prose > :first-child {
  margin-top: 0;
}
.prose > :last-child {
  margin-bottom: 0;
}

/** EndSection: */

/** Section: Origin element */

.prose b {
  color: var(--fg-deep);
}
.prose strong {
  color: var(--c-fg-deep);
  font-weight: 600;
}
.prose em {
  color: inherit;
}
.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose img {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose video {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose figure {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose figure > * {
  margin-top: 0;
  margin-bottom: 0;
}
.prose figure figcaption {
  color: #6b7280;
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

/** EndSection: */

/** Section: Code */

.shiki-light {
  background: var(--c-code-bg) !important;
}
.shiki-dark {
  background: var(--c-code-bg) !important;
}
html.dark .shiki-light {
  display: none;
}
html:not(.dark) .shiki-dark {
  display: none;
}

.prose pre:not(.shiki) {
  padding: 0;
  margin: 0;
  background: transparent;
}
.prose code,
.prose kbd,
.prose pre,
.prose samp{
  font-family: var(--c-code-family);
}
.prose :not(pre)>code {
  border-radius: 4px;
  padding: 3px 6px;
  color: var(--c-brand-light);
  background-color: var(--c-inline-code-bg);
  transition: color .5s,background-color .5s;
}
.prose code {
  font-size: var(--c-code-font-size);
  color: var(--fg-deep);
}
.prose pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 16px 0;
  color: #e5e7eb;
  font-size: 16px;
  overflow-x: auto;
  background: transparent;
  border-radius: 8px;
}
.prose [class*=language-] code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  line-height: 1.4;
  font-size: var(--c-code-font-size);
  color: var(--c-fg-deep);
  transition: color .5s;
}
.prose pre code {
  width: fit-content;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.prose pre code::before {
  content: none;
}
.prose pre code::after {
  content: none;
}
.prose code::before {
  content: none;
}
.prose code::after {
  content: none;
}


/** EndSection: */

/** Section: Title */

.prose h1 {
  color: var(--c-fg-deeper);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.prose h2 {
  color: var(--c-fg-deep);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.prose h3 {
  color: var(--c-fg-deep);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
  opacity: 0.9;
}
.prose h4 {
  color: inherit;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.prose h6 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 0.5;
  font-weight: 500;
}
.prose h2 code {
  font-size: 0.875em;
}
.prose h3 code {
  font-size: 0.9em;
}

/** EndSection: */

/** Section: Link */

.prose a {
  color: var(--c-fg-deeper);
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid var(--c-border);
  transition: border 0.3s ease-in-out;
}
.prose a:hover {
  border-bottom: 1px solid var(--c-fg);
}
.prose a code {
  color: #111827;
}

/** EndSection: */

/** Section: List */

.prose ol[type="A"] {
  --list-counter-style: upper-alpha;
}
.prose ol[type="a"] {
  --list-counter-style: lower-alpha;
}
.prose ol[type="A s"] {
  --list-counter-style: upper-alpha;
}
.prose ol[type="a s"] {
  --list-counter-style: lower-alpha;
}
.prose ol[type="I"] {
  --list-counter-style: upper-roman;
}
.prose ol[type="i"] {
  --list-counter-style: lower-roman;
}
.prose ol[type="I s"] {
  --list-counter-style: upper-roman;
}
.prose ol[type="i s"] {
  --list-counter-style: lower-roman;
}
.prose ol[type="1"] {
  --list-counter-style: decimal;
}
.prose ol > li::before {
  content: counter(list-item, var(--list-counter-style, decimal)) ".";
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
}
.prose ol > li,
.prose ul > li {
  position: relative;
  padding-left: 1.2em;
}
.prose ul > li::before {
  content: "";
  position: absolute;
  background-color: #d1d5db;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}
.prose ol,
.prose ul {
  padding-left: 1.25rem;
  margin: 16px 0;
  list-style-type: none;
}
.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose > ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose > ol > li > *:first-child {
  margin-top: 1.25em;
}
.prose > ol > li > *:last-child {
  margin-bottom: 1.25em;
}
.prose ul ul, .prose ul ol, .prose ol ul, .prose ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/** EndSection: */

/** Section: Divide */

.prose hr {
  width: 50px;
  margin: 2em auto;
  border-color: var(--c-border);
  margin-top: 3em;
  margin-bottom: 3em;
}

/** EndSection: */

/** Section: Blockquote */

.prose blockquote {
  font-weight: 500;
  color: inherit;
  border-left: 3px solid var(--c-border);
  quotes: "\201C""\201D""\2018""\2019";
  margin: 16px 0;
  padding-left: 16px;
  font-style: normal;
  opacity: 0.6;
}
.prose blockquote p:first-of-type::before {
  content: open-quote;
}
.prose blockquote p:last-of-type::after {
  content: close-quote;
}
.prose blockquote > :first-child {
  margin-top: 0;
}
.prose blockquote > :last-child {
  margin-bottom: 0;
}
.prose blockquote p:first-of-type::before {
  content: none;
}
.prose blockquote p:first-of-type::after {
  content: none;
}

/** EndSection: */

/** Section: Table */

.prose table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.72;
}
.prose thead {
  color: var(--c-brand-light);
  border-bottom-width: 1px;
  border-bottom-color: #d1d5db;
}
.prose thead th {
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.prose tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb;
}
.prose tbody tr:last-child {
  border-bottom-width: 0;
}
.prose tbody td {
  vertical-align: top;
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.prose thead th:first-child {
  padding-left: 0;
}
.prose thead th:last-child {
  padding-right: 0;
}
.prose tbody td:first-child {
  padding-left: 0;
}
.prose tbody td:last-child {
  padding-right: 0;
}

/** EndSection: */
