:root {
  --c-code-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --c-brand: #4a94c8;
  --c-brand-light: #c9def1;
  --c-bg: #fff;
  --c-fg: #555;
  --c-fg-deep: #222;
  --c-fg-deeper: #000;
  --c-border: rgba(125, 125, 125, 0.3);
  --c-code-bg: #f8f8f8;
  --c-code-font-size: 0.875em;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

.dark {
  --c-bg: #050505;
  --c-fg: #bbb;
  --c-fg-deep: #ddd;
  --c-fg-deeper: #fff;
  --c-code-bg: rgba(52, 52, 52, 0.3);
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}
