---
import { getEntry } from 'astro:content'
import Layout from '~/layouts/Default.astro'
import DashText from '~/components/DashText.astro'
import ListProject from '~/components/ListProject.astro'
import Meta from '~/meta'

const projectEntries = await getEntry('projects', 'index')
---

<Layout
    title={`Projects - ${Meta.author}`}
    desc="Q.Ben's Projects | Zhengqbbb"
    image="/og/projects.png"
    mainClass="mt-4 md:mt-6 lg:mt-8 xl4:mt-10 md:px-16"
>
    <h1
        class="text-8 text-c-fg-4 font-600 leading-normal"
        sm="text-9"
        xl4="text-11"
    >
        My Projects
    </h1>
    <p class="mt-2 text-c-fg-2 leading-6 lg:text-lg lg:leading-8 sm:leading-7">
        A collection of my projects, including open-source projects, personal projects, and some of my work.
    </p>
    <div>
    {
        Object
            .entries(projectEntries.data)
            .map(([categroy, projects], idx) => (
                <div
                    class="slide-enter relative mt-28 lt-sm:mb--0 sm:first:mt-24"
                    style={`--enter-stage: ${idx}`}
                >
                    <div class="pointer-events-none absolute left-0 top--28 h-auto w-full select-none">
                        <div class="absolute inset-0 from-transparent to-c-bg to-70% bg-gradient-to-b lt-sm:to-100%"></div>
                        <DashText
                            class="fill-none stroke-1 stroke-dash-5 stroke-offset-0 stroke-c-fg-3 text-18 font-bold font-sans dark:stroke-opacity-80"
                            center="true"
                        >
                            {categroy}
                        </DashText>
                    </div>

                    <ListProject projects={projects} />
                </div>
            ))
    }
    </div>
</Layout>
