<div class="relative">
    <svg
        class="c-animate-fade-out absolute right-0 top--6rem block w-50 op-4"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <defs>
            <linearGradient
                id="linear-gradient"
                x1="-100%"
                y1="100%"
                x2="800%"
                y2="0"
            >
                <stop offset="0" stop-color="currentColor">
                    <animate
                        attributeName="offset"
                        values="0;0.8"
                        dur="1.8s"
                        repeatCount="1"
                    >
                    </animate>
                </stop>
                <stop offset="0" stop-color="rgba(255, 255, 255, 1)">
                    <animate
                        attributeName="offset"
                        values="0"
                        dur="1.8s"
                        repeatCount="1"
                    >
                    </animate>
                </stop>
                <stop offset="0.1" stop-color="rgba(255, 255, 255, 1)">
                    <animate
                        attributeName="offset"
                        values="0;1"
                        dur="1.8s"
                        repeatCount="1"
                    >
                    </animate>
                </stop>
                <stop offset="0.1" stop-color="currentColor">
                    <animate
                        attributeName="offset"
                        values="0;1"
                        dur="1.8s"
                        repeatCount="1"
                    >
                    </animate>
                </stop>
            </linearGradient>
        </defs>
        <g>
            <path
                fill="url(#linear-gradient)"
                d="M19.8538 4.99897C19.8043 5.11431 19.7487 5.22142 19.6869 5.32029C19.6251 5.41915 19.5572 5.5139 19.483 5.60453L19.4459 5.76519C18.4325 6.77034 17.4604 7.8002 16.5294 8.85479C15.5984 9.90937 14.7085 10.9887 13.8599 12.0927C14.4531 12.8836 15.0587 13.6725 15.6766 14.4593C16.2945 15.2461 16.9289 16.0268 17.5798 16.8012C17.4315 17.2709 17.275 17.6128 17.1102 17.827C16.9454 18.0412 16.7436 18.1648 16.5046 18.1977C16.414 18.2884 16.3419 18.3955 16.2884 18.5191C16.2348 18.6426 16.208 18.7703 16.208 18.9022L16.208 18.9516C16.1504 19.001 16.0474 19.0875 15.8991 19.2111C15.7508 19.3347 15.6354 19.4336 15.553 19.5077C15.4295 19.4583 15.3018 19.3924 15.1699 19.31C15.0381 19.2276 14.9063 19.1246 14.7745 19.001C14.6756 19.1576 14.5541 19.3038 14.4099 19.4398C14.2657 19.5757 14.1071 19.6972 13.9341 19.8043L13.6004 19.7549C13.1061 19.1782 12.6262 18.5664 12.1607 17.9197C11.6952 17.2729 11.24 16.5953 10.7951 15.8867C10.0124 16.8671 9.28321 17.7981 8.60762 18.6797C7.93203 19.5613 7.29351 20.4181 6.69207 21.2503L6.30896 21.275L5.83934 20.7189L5.93821 20.311L5.77755 20.1874C5.7034 20.2039 5.62513 20.2286 5.54274 20.2616C5.46035 20.2945 5.345 20.3563 5.1967 20.447C4.98249 20.2657 4.79299 20.0659 4.62822 19.8476C4.46344 19.6293 4.32749 19.3924 4.22039 19.137C4.26982 19.0052 4.33573 18.8589 4.41812 18.6983C4.50051 18.5376 4.54171 18.4449 4.54171 18.4202C4.54171 18.346 4.49021 18.1977 4.38723 17.9753C4.28424 17.7528 4.20391 17.5592 4.14624 17.3944C4.80535 16.5788 5.50154 15.7405 6.23481 14.8795C6.96807 14.0185 7.74665 13.1226 8.57054 12.1916C7.96086 11.104 7.41503 9.99588 6.93306 8.86715C6.45108 7.73841 6.02471 6.57672 5.65396 5.38208C5.77755 5.19258 5.91143 5.0175 6.05561 4.85685C6.19979 4.69619 6.35427 4.54995 6.51905 4.41812C6.66735 4.52523 6.77652 4.60762 6.84655 4.66529C6.91658 4.72296 6.98455 4.78476 7.05046 4.85067C7.12461 4.81771 7.19258 4.78064 7.25437 4.73944C7.31617 4.69825 7.3759 4.65293 7.43357 4.6035C7.43357 4.46344 7.44799 4.34191 7.47683 4.23893C7.50566 4.13594 7.55716 4.04325 7.63131 3.96086L8.11328 3.83728C8.42636 4.05149 9.06076 4.9001 10.0165 6.38311C10.6591 7.38002 11.1905 8.18331 11.6107 8.793C12.5747 7.68898 13.5572 6.63234 14.5582 5.62307C15.5592 4.6138 16.5829 3.64778 17.6293 2.72502C17.8435 2.81565 18.033 2.93511 18.1977 3.08342C18.3625 3.23172 18.5026 3.40885 18.6179 3.61483L18.4696 3.91143C18.5191 4.00206 18.5767 4.08033 18.6426 4.14624C18.7086 4.21215 18.7827 4.26982 18.8651 4.31926L19.3471 4.31926L19.8538 4.99897Z"
            ></path>
        </g>
    </svg>
</div>

