---
import Square from './Square.astro'
---

<div
    class="relative h-[30px] w-full flex md:h-[60px] sm:h-[45px] xl:h-[88px] divide-x divide-c-border divide-dashed"
>
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />
</div>
