---
import '~/styles/index.css'
import BaseHead from '~/components/BaseHead.astro'
import Header from '~/components/Header.astro'
import SquareLines from '~/components/SquareLines.astro'
import { getMainFileRaw } from '~/lib/server'

interface Props {
    title?: string
    desc?: string
    image?: string
    lang?: string
}

const props = Astro.props
const mainCodeRaw = getMainFileRaw()
---

<!doctype html>
<html lang={props.lang ?? 'en'}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <BaseHead {...props} />
    </head>
    <body class="min-h-100vh">
        <SquareLines />
        <Header />
        <div class="px-7 xl:px-0">
            <slot />
        </div>

        <script is:inline type="module" set:html={mainCodeRaw}></script>
        <script src="/src/minor.ts"></script>
    </body>
</html>
