---
import Layout from '~/layouts/Base.astro'
import Footer from '~/components/Footer.astro'

interface Props {
    title?: string
    desc?: string
    image?: string
    mainClass?: string
}

const props = Astro.props
---

<Layout {...props}>
    <main
        class:list={[
            'w-full max-w-$c-content-width mx-auto my-12',
            [props.mainClass],
        ]}
    >
        <slot />
    </main>
    <Footer footerClass="max-w-$c-content-width mx-auto" />
</Layout>
